version: "3.8"

services:
  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

  postgresdatabase:
    image: postgres
    container_name: postgresdatabase
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: mysecretpassword
    volumes:
      - postgresdata:/var/lib/postgresql/data

volumes:
  postgresdata:
    external: true
  redis-data:
    external: true